body{
    background-color: hsl(252,30%, 95%);
    background-image: url();
    font-family: "Poppins", sans-serif;
}
h1{
    width:100%;
    text-align: center;   
    color:hsl(0, 0%, 4%);

}
.overall{
    /* position: fixed; */
    /* inset:0px; */
    /* width:30%; */
    width: 368px;
    /* height: 50%; */
    margin:0 auto;
    /* max-width:100vw; */
    /* max-height:100dvh;  */
    background-color: #ffffff;
    border-radius:15px;
    box-shadow: 5px 5px 12px 12px #0000ff33;
    padding:40px
       
}
.emailUsername{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;  
 
}
form{
    margin: 100px auto;
}
#password,#email{
    position: relative;
    margin: 10px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid hsl(252,75%, 60%);;
    border-radius:50px;
    /* margin: 15px; */
    font-size: 16px;
}
.passButton{
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 10px auto;
     
}
button{
    padding: 20px;
    background-color: hsl(252,75%, 60%);;
    color: white;
    margin: 15px;
    font-weight: 800;
    font-size: 18px;
    border-radius:50px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, 0.2);
}
   
.emailUsername input{
    width:auto;
    padding: 20px;
    margin: 10px;
    border-radius:50px;
    background-color: transparent;
    border: 1px solid hsl(252,75%, 60%);
    font-size: 16px;
    

}
.terms{
    display: flex;
    flex-direction: row;
    
}
.terms input{
    margin-left: 15px;
    color:hsl(252,75%, 60%);
}
p{
    width:100%;
    text-align: center;   
    color:hsl(252,75%, 60%);
}

::placeholder {
    color:hsl(252,75%, 60%);
    opacity: 0.5; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color:hsl(252,75%, 60%);
  }

@media (max-width: 768px) {
    body{
        display: flex;
        align-items: center;
        justify-content: baseline;
        height: 100hv;
        margin: 0;
    }
    form{
       width: 300px;
       height: 200hv;
       display: flex;
       align-items: center;
       align-content: center;

    }
    .emailUsername {
        flex-direction: column;
    }
    .emailUsername input{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .overall {
        flex-direction: column;
        padding: 2px 20px;
        width: 300px;
        /* margin: 0 auto; */
        
    }
    h1 {
        font-size: 30px;
    }
    button {
        padding: 15px;
    }
    
}