{{ define "content"}}
    {{range .Post}} <!-- Iterate over the Post slice in AllData -->
    <div>
        <p class="post_title">{{ .Title }}</p>
        <p class="post_content">{{ .Content }}</p>
    </div>
    <form action="/add_comment" method="POST">
        <input type="hidden" name="post_id" value="{{ .Id }}"> <!-- Hidden field to associate comment with post -->
        <input type="text" name="content" placeholder="What's up">    
        <button type="submit">Add comment</button>
    </form>
    
    <!-- Display comments related to this post -->
    {{ range $.Comments }} 
        {{ if eq .CommentId $.Id }}  <!-- Check if comment belongs to the current post -->
        <div>
            <p>{{ .CommentContent }}</p>
            <small>Likes: {{ .CommentLikes }} | Dislikes: {{ .CommentDislikes }}</small>
        </div>
        {{ end }}
    {{ end }}

    {{end}}
{{end}}

