{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styling/home.css">

</head>
<body>
    <!-- This just defines the header -->
    <header class="header">
        <div> Platform logo </div>
    </header>
    <!-- This defines the categories that define the posts -->
    <aside class="categories">
        {{ block "categories" . }} {{end}}
    </aside>
    <main class="article">
        {{block "content" . }} {{end}}
    </main>
</body>
</html>
{{ end }}
