{{ define "post" }}
<!-- This defines the view of a post -->
<div class="content-area">
    <div class="post-header"> 
        <h1>{{.Post.UserId}}</h1>
        <h1>{{.Post.Title}}</h1>
    </div>
    <!-- This defines the post description -->
    <div class="post-content">
        <p>{{.Post.PostContent}}</p>
    </div>

    <!-- This defines an post image if any -->
    <div>
        <img src="{{.Post.Media}}" alt="Post image">
    </div>
    <div class="likes-dislikes">
        <i class="fa-solid fa-thumbs-up" style="color:white;"></i>{{.Likes}}
       <i class="fa-solid fa-thumbs-down" style="color:white;"></i>{{.Dislikes}}
    </div>
    <hr>
    <div class="post-footer">
        <div class="comments">
            {{ range .Comments }}
                <p>{{ . }}</p>
            {{ else }}
                <p>No comments yet.</p>
            {{ end }}
        </div>  
    </div>
    <hr>
</div>
{{ end }}